<div class="container">

    <div class="landing">
        <header>
            <h3>nursery love</h3>
            <nav>
                <a routerLink="/home">Home</a>
                <a routerLink="/search">Search</a>
                <a routerLink="/Add-User">Add User</a>

                <a routerLink="/login">Login</a> 
                <a routerLink="/Register">Registor</a>
                
           
            </nav>
        </header>
    </div>
    <router-outlet></router-outlet>
</div>

